@font-face {
  font-family: Poppins-Bold;
  src: url(/assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: Inter-Medium;
  src: url(/assets/fonts/Inter-Medium.ttf);
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url(/assets/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: OpenSans-SemiBold;
  src: url(/assets/fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: Roboto-Regular;
  src: url(/assets/fonts/Roboto-Regular.ttf);
}
.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 300px;
  height: 540px;
  border: 2px solid rgb(224, 224, 224);
  border-radius: 4px;
}
@media (max-width: 340px) {
  .cardsContainer {
    width: 200px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media (min-width: 341px) and (max-width: 570px) {
  .cardsContainer {
    width: 200px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media (min-width: 571px) and (max-width: 770px) {
  .cardsContainer {
    width: 200px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media (min-width: 771px) and (max-width: 1024px) {
  .cardsContainer {
    width: 200px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media (min-width: 1025px) and (max-width: 1230px) {
  .cardsContainer {
    width: 200px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.cardsContainer .cardImagesWrapper .cardImage {
  position: relative;
}
.cardsContainer .cardImagesWrapper .cardImage img {
  width: 300px;
  height: 250px;
  border-radius: 4px;
  object-fit: cover;
}
@media (max-width: 340px) {
  .cardsContainer .cardImagesWrapper .cardImage img {
    width: 200px;
    height: 190px;
  }
}
@media (min-width: 341px) and (max-width: 570px) {
  .cardsContainer .cardImagesWrapper .cardImage img {
    width: 200px;
    height: 190px;
  }
}
@media (min-width: 571px) and (max-width: 770px) {
  .cardsContainer .cardImagesWrapper .cardImage img {
    width: 200px;
    height: 190px;
  }
}
@media (min-width: 771px) and (max-width: 1024px) {
  .cardsContainer .cardImagesWrapper .cardImage img {
    width: 200px;
    height: 190px;
  }
}
@media (min-width: 1025px) and (max-width: 1230px) {
  .cardsContainer .cardImagesWrapper .cardImage img {
    width: 200px;
    height: 190px;
  }
}
.cardsContainer .cardImagesWrapper .cardImage .cardIcon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(125, 181, 249);
  position: absolute;
  bottom: -20px;
  left: 110px;
  z-index: 100;
  border-radius: 50%;
}
@media (max-width: 340px) {
  .cardsContainer .cardImagesWrapper .cardImage .cardIcon {
    width: 35px;
    height: 35px;
    bottom: -10px;
    left: 80px;
  }
}
@media (min-width: 341px) and (max-width: 570px) {
  .cardsContainer .cardImagesWrapper .cardImage .cardIcon {
    width: 35px;
    height: 35px;
    bottom: -10px;
    left: 80px;
  }
}
@media (min-width: 571px) and (max-width: 770px) {
  .cardsContainer .cardImagesWrapper .cardImage .cardIcon {
    width: 35px;
    height: 35px;
    bottom: -10px;
    left: 80px;
  }
}
@media (min-width: 771px) and (max-width: 1024px) {
  .cardsContainer .cardImagesWrapper .cardImage .cardIcon {
    width: 35px;
    height: 35px;
    bottom: -10px;
    left: 80px;
  }
}
@media (min-width: 1025px) and (max-width: 1230px) {
  .cardsContainer .cardImagesWrapper .cardImage .cardIcon {
    width: 35px;
    height: 35px;
    bottom: -10px;
    left: 80px;
  }
}
.cardsContainer .cardImagesWrapper .cardImage .cardIcon img {
  width: 25px;
  height: 25px;
}
@media (max-width: 340px) {
  .cardsContainer .cardImagesWrapper .cardImage .cardIcon img {
    width: 15px;
    height: 15px;
  }
}
@media (min-width: 341px) and (max-width: 570px) {
  .cardsContainer .cardImagesWrapper .cardImage .cardIcon img {
    width: 15px;
    height: 15px;
  }
}
@media (min-width: 571px) and (max-width: 770px) {
  .cardsContainer .cardImagesWrapper .cardImage .cardIcon img {
    width: 15px;
    height: 15px;
  }
}
@media (min-width: 771px) and (max-width: 1024px) {
  .cardsContainer .cardImagesWrapper .cardImage .cardIcon img {
    width: 15px;
    height: 15px;
  }
}
@media (min-width: 1025px) and (max-width: 1230px) {
  .cardsContainer .cardImagesWrapper .cardImage .cardIcon img {
    width: 15px;
    height: 15px;
  }
}
.cardsContainer .cardContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  text-align: center;
}
.cardsContainer .cardContentContainer h3 {
  width: 252px;
  height: auto;
  font-family: Montserrat-SemiBold;
  font-size: 18px;
  color: rgb(9, 8, 8);
}
@media (max-width: 340px) {
  .cardsContainer .cardContentContainer h3 {
    width: 203px;
    height: auto;
    font-size: 16px;
  }
}
@media (min-width: 341px) and (max-width: 570px) {
  .cardsContainer .cardContentContainer h3 {
    width: 203px;
    height: auto;
    font-size: 16px;
  }
}
@media (min-width: 571px) and (max-width: 770px) {
  .cardsContainer .cardContentContainer h3 {
    width: 203px;
    height: auto;
    font-size: 16px;
  }
}
@media (min-width: 771px) and (max-width: 1024px) {
  .cardsContainer .cardContentContainer h3 {
    width: 203px;
    height: auto;
    font-size: 16px;
  }
}
@media (min-width: 1025px) and (max-width: 1230px) {
  .cardsContainer .cardContentContainer h3 {
    width: 203px;
    height: auto;
    font-size: 16px;
  }
}
.cardsContainer .cardContentContainer p {
  width: 280px;
  height: 110px;
  font-family: Roboto-Regular;
  font-size: 14px;
  color: rgb(9, 8, 8);
}
@media (max-width: 340px) {
  .cardsContainer .cardContentContainer p {
    width: 180px;
    height: 150px;
    font-size: 12px;
  }
}
@media (min-width: 341px) and (max-width: 570px) {
  .cardsContainer .cardContentContainer p {
    width: 180px;
    height: 150px;
    font-size: 12px;
  }
}
@media (min-width: 571px) and (max-width: 770px) {
  .cardsContainer .cardContentContainer p {
    width: 180px;
    height: 150px;
    font-size: 12px;
  }
}
@media (min-width: 771px) and (max-width: 1024px) {
  .cardsContainer .cardContentContainer p {
    width: 180px;
    height: 150px;
    font-size: 12px;
  }
}
@media (min-width: 1025px) and (max-width: 1230px) {
  .cardsContainer .cardContentContainer p {
    width: 180px;
    height: 150px;
    font-size: 12px;
  }
}
.cardsContainer .cardContentContainer .cardButton {
  width: 100px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(60, 97, 194);
  border: none;
  border-radius: 4px;
}
@media (max-width: 340px) {
  .cardsContainer .cardContentContainer .cardButton {
    width: 70px;
    height: 25px;
  }
}
@media (min-width: 341px) and (max-width: 570px) {
  .cardsContainer .cardContentContainer .cardButton {
    width: 70px;
    height: 25px;
  }
}
@media (min-width: 571px) and (max-width: 770px) {
  .cardsContainer .cardContentContainer .cardButton {
    width: 70px;
    height: 25px;
  }
}
@media (min-width: 771px) and (max-width: 1024px) {
  .cardsContainer .cardContentContainer .cardButton {
    width: 70px;
    height: 25px;
  }
}
@media (min-width: 1025px) and (max-width: 1230px) {
  .cardsContainer .cardContentContainer .cardButton {
    width: 70px;
    height: 25px;
  }
}
.cardsContainer .cardContentContainer .cardButton a {
  color: rgb(255, 255, 255);
  font-family: OpenSans-SemiBold;
  font-size: 12px;
}/*# sourceMappingURL=slideCard.module.css.map */